*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
header{
  width: 100%;
  height: 90px;
  display: flex;
  position: absolute;
  background-color: #050506;
  opacity: 50%;
  justify-content: space-around;
  align-items: center;
}

.menu{

  display: flex;
  gap: 20px;
  align-items: center;
}
.header-nav{
  display: flex;
  gap: 20px;
}
.planilhas{
  width: 150px;
  background-color: #FE6219;
  border-radius: 20px;
  height: 30px;
  border: transparent;
}
.logo{
  width: 200px;
  height: 200px; 
}
.icons{
  justify-content: end;
}

nav > a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: white;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("./../img/svg/image\ 8.svg");  
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}


header img {
  width: 30px;
  height: 30px;
}

.menu-icon{
  display: none;
  
}
.resultado{
  font-size: 80px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conhece{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #D3D3D3;
  width: 330px;
}
.plans{
  width: 150px;
  height: 39px;
  border-radius: 20px;
  border: transparent;
}

.escritas{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: start;
  padding-left: 200px;
}

section{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 100px;
}

.profile-picture{
  width: 400px;
  height: 400px;
}
section .write{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.divider{
  height: 3px;
  width: 30px;
  background: #FE6219;
}
.divider-vertical{
  height: 30px;
  width: 5px;
  background: #000000;
}
.square{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.square i{
  display: flex;
  width: 400px;
  gap: 15px;
}
.square2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.square2 i{
  display: flex;
  width: 400px;
  gap: 15px;
}
.write :first-child{
  color: #FE6219;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.write :nth-child(4){
  width: 350px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.write :nth-child(5){
  width: 200px;
  height: 50px;
  background-color: #25D366;
  color: #D3D3D3;
  border: transparent;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}
.wpp{
  width: 15px;
}
.help{
display: flex;
flex-direction: column;
align-items: center;
background-color: #000000;
gap: 40px;
}

.help :first-child{
  margin-top: 50px;
  font-size: 46px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
}

.text-consult{
  font-size: 30px;
  color: #FFFFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 1070px;
  text-align: center;
}

.all-cards{
 display: flex;
 gap: 30px;
 
}
.card-content{
  background-color: #FFFFFF;
  width: 360px;
  text-align: center;
  margin-bottom: 50px;
}
.card-content :first-child{
  width: 360px;
  
}
.card-content :nth-child(2){
  font-size: 30px;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-content :nth-child(3){
  color: #FE6219;
  background-color: transparent;
  width: 200px;
  border: transparent;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Passo-passo{
  
  width: 100%;
  gap: 20px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Passo-passo :first-child{
  margin-top: 50px;
  font-size: 46px;
  color: #FFFFFF;
}
.contract{
  font-size: 18px;
  color:#FE6219;
}


.all-cards{
 
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-dedo{
  width: 332px;
  height: 276px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  
}

.card-dedo :first-child{
  width: 80px;
  height: 80px;

}

.card-dedo :nth-child(2){
  font-size: 20px;
}

.card-dedo :nth-child(3){
  font-size: 15px;
  text-align: center;
}

.Planos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
 
}

.title-p{
  font-size: 51px;
}

.divider {
  width: 90px;
}


.plano-90{
 width: 352px;
 height: 675px;
background-color: #FE6219;
color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
text-align: center;
text-decoration: none;
}

.plano-90 :first-child{
  display: flex;
  margin-top: 20px;
  font-size: 40px;
 
}

.plano-90 :nth-child(2){
  font-size: 51px;
 
}
.plano-90 :nth-child(8){
  text-decoration: line-through;
  }
  .plano-90 :nth-child(9){
  text-decoration: line-through;
  }


.plano-90 :nth-child(11){
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: #D3D3D3;
  border: transparent;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}
.plano-30{
 width: 352px;
 height: 675px;
background-color: #ffffff;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
text-align: center;
}

.plano-30 :first-child{
  display: flex;
  margin-top: 20px;
  font-size: 40px;
}

.plano-30 :nth-child(2){
  font-size: 51px;
}

.plano-30 :nth-child(3){
  font-size: 18px;
}

.plano-30 :nth-child(7){
text-decoration: line-through;
}
.plano-30 :nth-child(8){
text-decoration: line-through;
}
.plano-30 :nth-child(9){
text-decoration: line-through;
}
.plano-30 :nth-child(10){
text-decoration: none;
}

.plano-30 :nth-child(11){
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: #D3D3D3;
  border: transparent;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}
.plano-180{
 width: 352px;
 height: 675px;
background-color: #ffffff;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
text-align: center;
}

.plano-180 :first-child{
  font-size: 40px;
  display: flex;
  margin-top: 20px;
 
}

.plano-180 :nth-child(2){
  font-size: 51px;
}

.plano-180 :nth-child(3){
  font-size: 18px;
}
.plano-180 :nth-child(11){
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: #D3D3D3;
  border: transparent;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.all-planos{
  display: flex;
  flex-direction: row;

}

.Depoimentos{

 width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Depoimentos :first-child{
  margin-top: 40px;
  color: white;
  font-size: 45px;
}

.Depoimentos :nth-child(4){
  text-align: center;
  font-size: 19px;
  color: white;
}

.img-depoi{
  width: 60%;
 gap: 50px;
display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
align-items: center;
}


.questions{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-que {
    font-size: 25px;
    color: #FE6219;
}

.questions :nth-child(2){
  font-size: 51px
}

.primeiro{
  color: #ffffff;
width: 732px;
height: 69px;
background-color: #000000;
display: flex;
padding-left: 20px;
align-items: center;
} 

.segu{
  width: 649px;
  padding-left: 20px;
 font-size: 15px;
margin-top: 20px;
 }

 .planilha{
  
  color: #FE6219;
 }
 footer{
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  align-items: center;
  gap: 50px;
 }

.logo-footer{
  width: 150px;
  height: 150px;
}


 .sobre{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 .sobre :first-child{
  display: flex;
  align-items: flex-start;
  
 }
 .sobre :nth-child(2){
  color: #FE6219;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .sobre :nth-child(3){
  color: #D3D3D3;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 290px;
}
.sobre :nth-child(3){
  display: flex;
  flex-direction: column;
  
}
.contato :first-child{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FE6219;
  font-size: 36px;
 
}
.contato :nth-child(2){
  color: #D3D3D3;
  font-size: 18px;
}
.contato :last-child{
  color: #D3D3D3;
  font-size: 18px;
}
.links{
  display: flex;
  flex-direction: column;
}
.links :first-child{
  color: #FE6219;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links :nth-child(2){
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.redes{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.redes :first-child{
  color: #FE6219;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.img-redes{
  display: flex;
  gap: 35px;
  
} 



.explication{
  margin-top: 100px;
  display: flex;
  gap: 150px;
}

.write-explication{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.h1-explication :first-child{
  font-size: 46px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 350px;
}
.h1-explication :nth-child(2){
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}
.contract{
  width: 250px;
  background-color: #FE6219;
  border-radius: 20px;
  height: 40px;
  border: transparent;
  color: #FFFFFF;
}
.hotmart{
  height: 500px;
  align-self: center;
}

.explication > p > img{
  width: 10px;
  height: 10px;
}

@media (max-width: 400px){
 
  .logo{
    width: 150px;
   height: 150px;
  }
  header img {
    width: 20px;
    height: 20px;
  }
  .header-nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 120px;
  }
  .menu-icon{
    width: 40px;
    height: 40px;
    display: block;
  }

  main{
    height: 600px;
  }
  .resultado{
    font-size: 40px;
  }
  .conhece{
    font-size: 100%;
  }
  .escritas{
    padding-left: 20px;
  }
  section{
    flex-direction: column-reverse;
    align-items: center;
  }
  .square i{
    display: flex;
    width: 300px;
  }
  .divider-vertical{
    height: 50px;
  }
  .write{
    align-items: center;
  }
  .square{
  align-items: center;
  } 
  .profile-picture{
    width: 300px;
    height: 300px;
  }
  .help{
    text-align: center;
    align-items: center;
  }
  .help :nth-child(3){
  width: 300px;
  font-size: 18px;
  }
  

  
}